<!-- _layouts/lesson.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    {% include header.html %}
    
    <main>
        <h1>{{ page.title }}</h1>
        <div>
            {{ content }}
        </div>
        
        <a href="{{ page.module_url | relative_url }}">Back to Module</a>
    </main>
    
    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} Phuong Vo. All rights reserved.</p>
    </footer>
</body>
</html>